<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>{{ title }}</title>
        <style>
        h1 {
            margin-bottom: 30px
        }
        #img-list-item {
            width: 300px;
            height: 300px;
            cursor: pointer;
        }
        #main-photo {
            max-height: 150px;
            clip-path: circle(43%);
        }
        #main-photo-child {
            max-height: 50px;
            clip-path: circle(50%);
        }
        #back-arrow{
            cursor: pointer;
        }
        .cursor-pointer {
            cursor: pointer;
        }
        .hidden {
            display: none !important;
        }
        .label1 {
            display: inline-block;
            position: relative;
            bottom: -30px;
        }
        .label2 {
            display: inline-block;
        }
        .comment-time {
            color: grey;
            font-size: 12pt;
            margin-left: 2rem;
        }
        </style>
        <script>
        // функция получения данных публикации
        function show_post(pid){
            // переключаем карусель на второй (дочерний) экран
            $("#carousel-item-parent").removeClass('active');
            $("#carousel-item-child").addClass('active');
            // получаем данные самой публикации через запрос GET
            $.get( "/api/posts/"+pid, function( r ) {
                // добавляем картинку на место
                $("#child-img").html('<img src="' + r['post'][2] + '" alt="здесь должна была быть картинка, но не нашлась" class="img-fluid">');
                // также добавляем скрытое поле, хранящее ID публикации
                $("#child-img").append('<input id="child-img-id" type="hidden" value="' + r['post'][0] + '"/>');
                // добавляем URL удаления поста в кнопку "Да" модального окна
                $("#actionDelete").attr('href', '/del_post/'+ r['post'][0]);
            });
            // получаем данные лайков
            $.get('/api/likes/' + pid, function( r ) {
                $("#like-counter").text( r['count'] );
                if (r['your'] == 1) {
                    $("#like-icon").removeClass('far');
                    $("#like-icon").addClass('fas');
                    $("#like-icon").removeClass('text-dark');
                    $("#like-icon").addClass('text-danger');
                    $("#like-icon").attr( 'onclick', 'del_like()' );
                } else {
                    $("#like-icon").removeClass('fas');
                    $("#like-icon").addClass('far');
                    $("#like-icon").removeClass('text-danger');
                    $("#like-icon").addClass('text-dark');
                    $("#like-icon").attr( 'onclick', 'add_like()' );
                }
            })
            get_comments(pid);
        }

        // функция возврата в основной экран карусели
        function back2parent(){
            $("#carousel-item-parent").addClass('active');
            $("#carousel-item-child").removeClass('active');
        }

        // функция добавления лайка
        function add_like() {
            $("#like-icon").removeClass('far');
            $("#like-icon").addClass('fas');
            $("#like-icon").removeClass('text-dark');
            $("#like-icon").addClass('text-danger');
            $("#like-icon").attr( 'onclick', 'del_like()' );
            post_id = $("#child-img-id").val();
            // посылаем запрос POST
            $.post('/api/likes/' + post_id, function( r ) {
                $("#like-counter").text( r['count'] );
            })
        }

        // функция отмены лайка
        function del_like() {
            $("#like-icon").removeClass('fas');
            $("#like-icon").addClass('far');
            $("#like-icon").removeClass('text-danger');
            $("#like-icon").addClass('text-dark');
            $("#like-icon").attr( 'onclick', 'add_like()' );
            $("#like-counter").text( '' );
            post_id = $("#child-img-id").val();
            // делаем запрос через AJAX, потому как браузер не умеет DELETE
            $.ajax({
                url: '/api/likes/' + post_id,
                type: 'DELETE',
                success: function( r ) {
                    $("#like-counter").text( r['count'] );
                }
            });
        }

        // функция отображения поля редактирования описания публикации
        function show_title_edit() {
            $("#child-title-div-2").addClass("hidden")
            $("#child-title-div-1").removeClass("hidden")
        }
        // функция для отправки нового значения описания на сервер
        function change_title(pid) {
            new_title = $("#child-title-input").val()
            $.post('/api/posts/' + pid, {title: new_title}, function (r){
                get_comments(pid)
            })
        }

        // функция получения комментов
        function get_comments(pid) {
            // посылаем GET запрос
            $.get('/api/comments/' + pid, function(r) {
                // накопитель списка комментов
                content = '';
                // бежим по списку комментов
                r['comments'].forEach(function(comment){
                    if (comment[0] < 0) {
                        if (comment[4] != '') {
                            // скрытое поле для редактирования описания публикации
                            content += '<div class="row hidden" id="child-title-div-1">';
                            content += '<div class="col-2 h5 font-weight-bold text-right"></div>';
                            content += '<div class="col-auto h5 w-75 text-left"><input type="text" id="child-title-input" value="' + comment[4] + '" class="form-control" placeholder="Описание публикации"></div>';
                            content += '<div class="col-1 text-center text-primary"><a onclick="change_title(' + pid + ')"><i class="fas fa-check cursor-pointer"></i></a></div>';
                            content += '</div>';
                            // поле описания публикации
                            content += '<div class="row border-bottom" id="child-title-div-2">';
                            content += '<div class="col-2 h5 font-weight-bold text-right">' + comment[3] + '</div>';
                            content += '<div class="col-auto h5 w-75 text-left">' + comment[4] + ' <span class="comment-time">'+ timeConverter(comment[5]) +'</span></div>';
                            content += '</div>';
                        } else {
                            content += '<div class="row hidden" id="child-title-div-1">';
                            content += '<div class="col-2 h5 font-weight-bold text-right"></div>';
                            content += '<div class="col-auto h5 w-75 text-left"><input type="text" id="child-title-input" value="" class="form-control" placeholder="Описание публикации"></div>';
                            content += '<div class="col-1 text-center text-primary"><a onclick="change_title(' + pid + ')"><i class="fas fa-check cursor-pointer"></i></a></div>';
                            content += '</div>';
                        }
                    } else if (comment[4] != '') {
                        content += '<div class="row border-bottom">';
                        content += '<div class="col-2 h5 font-weight-bold text-right">' + comment[3] + '</div>';
                        content += '<div class="col-auto h5 w-75 text-left">' + comment[4] + ' <span class="comment-time">'+ timeConverter(comment[5]) +'</span></div>';
                        if ( comment[2] == {{session['userid']}} && comment[0] >= 0 ) {
                            content += '<div class="col-1 text-center"><a onclick="del_comment(' + comment[0] + ')"><i class="fas fa-trash-alt cursor-pointer"></i></a></div>';
                        }
                        content += '</div>';
                    }
                    // добавляем получившийся список к картинке
                    $('#child-comments').html(content);
                })
            })
        }

        // функция добавления коммента
        function send_comment() {
            post_id = $("#child-img-id").val();
            comment_text = $("#child-comment-text").val();
            $.post('/api/comments/' + post_id, { comment: comment_text } , function( r ) {
                get_comments(post_id);
                $("#child-comment-text").val('');
            })
        }

        // функция удаления коммента
        function del_comment(c_id) {
            post_id = $("#child-img-id").val();
            $.ajax({
                url: '/api/comments/' + post_id,
                type: 'DELETE',
                data: { comment_id: c_id },
                success: function( r ) {
                    get_comments(post_id);
                }
            });
        }

        // функция поиска пользователей
        function search_user() {
            username = $('#navbar-search').val()
            if (username == '') return false;
            $.get('/api/users/0', {user_name: username}, function(r){
                if ( r['user'] ) {
                    window.location = '/@' + r['user'][1]
                } else {
                    $('#navbar-search').popover('enable')
                    $('#navbar-search').popover('show')
                    window.setTimeout(function() {
                        $('#navbar-search').popover('hide');
                        $('#navbar-search').popover('disable');
                    }, 5000)
                }
            })
        }

        // функция подписки/отписки
        function sub_unsub(user_id) {
            user_action = $('#sub-button').attr('action')
            $.post('/api/users/' + user_id, {action: user_action}, function(r){
                if (r['success'] == 'OK') {
                    $('#sub-button').attr('action', r['next']);
                    $('#sub-button').text(r['text'])
                    if (user_action == 'subscribe') {
                        $('#sub-button').removeClass('btn-primary')
                        $('#sub-button').addClass('btn-outline-primary')
                        update_user_stats(user_id)
                    } else if (user_action == 'unsubscribe') {
                        $('#sub-button').removeClass('btn-outline-primary')
                        $('#sub-button').addClass('btn-primary')
                        update_user_stats(user_id)
                    }
                }
            })
        }

        // функция обновления статистики
        function update_user_stats(user_id) {
            $.get('/api/users/' + user_id, function(r) {
                $('#badge-posts-count').text(r['posts_count']);
                $('#badge-followers-count').text(r['followers_count']);
                $('#badge-subscriptions-count').text(r['subscriptions_count']);
            })
        }

        function addZero(i) {
            if (i < 10) {
                i = "0" + i;
            }
            return i;
        }
        function timeConverter(UNIX_timestamp){
            var a = new Date(UNIX_timestamp * 1000);
            var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
            var year = a.getFullYear();
            var month = months[a.getMonth()];
            var date = a.getDate();
            var hour = addZero(a.getHours());
            var min = addZero(a.getMinutes());
            var sec = addZero(a.getSeconds());
            var time = date + ' ' + month + ' ' + year + ' ' + hour + ':' + min + ':' + sec ;
            return time;
        }
        </script>
    </head>
    <body>
    <!-- начало модального окна для удаления публикаций -->
    <div class="modal" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Предупреждение</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            <div class="modal-body"> Вы уверены, что хотите удалить публикацию? </div>
                <div class="modal-footer">
                    <a type="button" href="#" class="btn btn-secondary" data-dismiss="modal">Нет</a>
                    <a type="button" href="#" id="actionDelete" class="btn btn-primary">Да</a>
                </div>
            </div>
        </div>
    </div>
    <!-- конец модального окна для удаления публикаций -->
    <header>
        <nav class="navbar navbar-light bg-light">
            <i class="fab fa-instagram fa-2x d-flex justify-content-start align-self-center mr-2"></i>
            <a class="navbar-brand d-flex justify-content-start mr-auto" href="/">Instagram</a>
        {% if "userid" in session %}
            <div class="my-2 my-lg-0 d-flex justify-content-start mr-auto">
                <input class="form-control mr-sm-2 d-flex justify-content-start mr-auto" id="navbar-search"
                       type="search" placeholder="Найти пользователя" aria-label="Найти пользователя"
                        data-placement="bottom" data-content="Пользователь не найден">
                <button class="btn btn-outline-primary my-2 my-sm-0 d-flex justify-content-start mr-auto" onclick="search_user()">Найти</button>
            </div>
            <a class="navbar-brand d-flex justify-content-end" href="/">{{ sess_info['username'] }}</a>
            <a class="btn btn-outline-primary my-2 my-sm-0 d-flex justify-content-end" type="submit" href="/logout">Выйти</a>
        {% endif %}
        </nav>
    </header>
    <!-- Begin page content -->
    <main role="main" class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} mt-4" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>
    <script src="/static/scripts/jquery-3.3.1.min.js"></script>
    <script src="/static/scripts/popper.min.js"></script>
    <script src="/static/scripts/bootstrap.min.js"></script>
    <script defer src="/static/scripts/fontawesome_all.js"></script>
    <script>
        $(document).ready( function() {
            update_user_stats({{ user_info['userid'] }});
        });
    </script>

    </body>
</html>
